.ajustarimagem {
    width: 50px;
}

.ajustarlogo {
    width: 150px;
    float: left;
}

.ajustarbotao {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}

.ajustarlogin {
    float: right;
    margin-right: 50px;
}

.ajustarodape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.linha {
    border: 1px solid #dee2e6;
    box-sizing: border-box;
}