.menu {
float: left;
height: 100%;
width: 18%;
border: 1px solid #dee2e6;
}

.menu ul li a {
color: black;
font-weight: bold;
}

.menu ul li a:hover {
text-decoration: underline;
}

.tabela{
float: right;
width: 70%;
margin: 0% 5%; 
}

h1, h3 {
text-align: center;
}

h3 {
font-size: 20px;
}

.text-center{
text-align: center;
}

.cadastrousuario {
float: right;
width: 70%;
margin: 0% 5%;    
}